<div>
    <div>
        <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search">
        </div>
     <!--   <publisher-list-filter (OnFilterChange)="onFilterChange($event)"></publisher-list-filter> -->
        <territory-list-filter (OnFilterChange)="onFilterChange($event)">

        </territory-list-filter>
        <p-dataTable [value]="_teritories" selectionMode="single"
                     sortMode="multiple" [globalFilter]="gb"
                     [(selection)]="_selectedTerritory"
                     [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,100,200]">
            <header>List of territories</header>

            <p-column field="Id"  header="Id"  [sortable]="true" [style]="{'width':'30px'}" [hidden]="true" ></p-column>

            <p-column field="Name"  header="Name"  [sortable]="true" [style]="{'width':'60px'}" [hidden]="false"></p-column>
            <p-column field="PublisherGroup.Name" header="Group"  [sortable]="true" [style]="{'width':'70px'}"></p-column>
            <p-column field="Name" header="Name"  [sortable]="true" [style]="{'width':'30%'}" [hidden]="true"></p-column>

            <p-column field="Publisher.Name" header="Name"  [sortable]="true" [style]="{'width':'30%'}" [hidden]="true"></p-column>
            <p-column field="Publisher.Surname" header="Surname"  [sortable]="true" [style]="{'width':'30%'}" [hidden]="true"></p-column>

            <p-column field="FullName" header="Publisher"  [sortable]="true" [style]="{'width':'30%'}">

                <template let-row="rowData" pTemplate="body">
                 <div>
                    <!-- <span> {{row.Publisher?.Name + ' ' + row.Publisher?.Surname   }} </span> -->
                     {{getPubName(row)}}

                 </div>
                </template>
            </p-column>


        </p-dataTable>
    </div>

</div>