<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <p-panel header="Login">



        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                User name:
            </div>
            <div class="ui-grid-col-3">
                <input id="username" type="text" pInputText [(ngModel)]="_login"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
                Password:
            </div>
            <div class="ui-grid-col-3">
                <input id="password" type="password" pInputText [(ngModel)]="_password" (keyup)="doKeyUpPassword($event)"/>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
            </div>
            <div class="ui-grid-col-3">
                <button pButton type="button" label="Login" (click)="doLogin()"></button>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
            </div>
            <div class="ui-grid-col-3">
                <p-messages [value]="_msgs" [closable]="false"></p-messages>
            </div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-2">
            </div>
            <div class="ui-grid-col-3">
                <div><p (click)="onFillUser('kamil.predki')">(kamil.predki)</p></div>
            </div>
        </div>
    </p-panel>
</div>