<div class="ui-grid ui-grid-responsive ui-grid-pad">
    <div class="ui-grid-row">
        <div class="ui-grid-col-12">
            <main-toolbar></main-toolbar>
        </div>
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <div>
                <nav-panel></nav-panel>
            </div>
            <router-outlet name="left"></router-outlet>
        </div>
        <div class="ui-grid-col-10">
            <p-panel header={{_panelTitle}}>
                <router-outlet></router-outlet>
            </p-panel>
        </div>
    </div>
</div>
`