<p-panel  header="Show only">
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">

            <p-multiSelect [options]="_publisherGroupsAsSelectItem" [(ngModel)]="_selectedGroups" (onChange)="onChange_RefreshAfterFiltering()" ></p-multiSelect>
        </div>
    </div>
</p-panel>