<div *ngIf="! WasEdited">
    <div>
        <button  pButton label="Back" (click)="doBack()"></button>
    </div>
</div>
<div *ngIf="WasEdited">
    <div>
        <button  pButton label="Save" icon="fa-check" (click)="doSave()"></button>
        <button  pButton label="Cancel" (click)="doCancel()"></button>
    </div>
</div>