<div>
    <div [hidden]="_showDetail">
        <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search">
        </div>
        <publisher-list-filter (OnFilterChange)="onFilterChange($event)"></publisher-list-filter>
        <p-dataTable [value]="_publishers" selectionMode="single"
                     sortMode="multiple" [globalFilter]="gb"
                     [(selection)]="_selectedPublisher"
                     (onRowDblclick)="onRowDblclick($event)"
                     [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20,100,200]">
            <header>List of publishers</header>

            <p-column field="Id"  header="Id"  [sortable]="true" [style]="{'width':'30px'}" [hidden]="true" ></p-column>

            <p-column field="IsDelete"  header="Is delete"  [sortable]="true" [style]="{'width':'60px'}" [hidden]="true"></p-column>
            <p-column field="CanLogin"  header="Can login"  [sortable]="true" [style]="{'width':'60px'}" [hidden]="true"></p-column>
            <p-column field="IsOnlyLogin"  header="Is only login"  [sortable]="true" [style]="{'width':'60px'}" [hidden]="true"></p-column>
            <p-column field="Login"  header="Login"  [sortable]="true" [style]="{'width':'60px'}" [hidden]="true"></p-column>
            <p-column field="Name" header="Name"  [sortable]="true" [style]="{'width':'30%'}" [hidden]="true"></p-column>
            <p-column field="Surname" header="Surname"  [sortable]="true" [style]="{'width':'30%'}" [hidden]="true"></p-column>
            <p-column field="DateOfBirth" header="Date or birth"  [sortable]="true" [style]="{'width':'30%'}" [hidden]="true"></p-column>
            <p-column field="DateOfBaptism" header="Date of baptism"  [sortable]="true" [style]="{'width':'30%'}" [hidden]="true"></p-column>

            <p-column field="FullName" header="Publisher"  [sortable]="true" [style]="{'width':'30%'}">

                <template  let-row="rowData" pTemplate="body">
                    <span> {{row.Name + ' ' + row.Surname   }} </span>
                </template>
            </p-column>
            <p-column header="Action" [style]="{'width':'180px'}">
                <template let-row="rowData" pTemplate="body">
                    <button type="button" pButton icon="fa-arrow-up" ></button>
                    <button type="button" pButton icon="fa-arrow-down" ></button>
                </template>
            </p-column>
            <p-column field="PublisherGroup.Name" header="Group"  [sortable]="true" [style]="{'width':'30%'}">
            </p-column>


        </p-dataTable>
    </div>
    <div [hidden]="!_showDetail">
        <publisher-detail #pubDetail [Publisher]="_selectedPublisher"
                          (back)="doBack()" (cancel)="doCancel()" (save)="doSave()"> </publisher-detail>
    </div>
</div>