<p-panel  header="Show only">
    <div class="ui-grid-row">
        <div class="ui-grid-col-4">

            <p-multiSelect [options]="_publisherGroupsAsSelectItem" [(ngModel)]="_selectedGroups" (onChange)="onChange_RefreshAfterFiltering()" ></p-multiSelect>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsNotPublisher" binary="true" label="Not publisher" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsUnbaptizedPublishers" binary="true" label="Unbaptized publisher" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsBaptizedPublishers" binary="true" label="Baptized publisher" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.CanMobileCart" binary="true" label="Mobile cart" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsMinisterialServant" binary="true" label="Ministerial servant" (onChange)="onChange_RefreshAfterFiltering()" ></p-checkbox>
        </div>
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsElder" binary="true" label="Elder" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsRegularPioneer" binary="true" label="Regular pioneer" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsAuxiliaryPioneer" binary="true" label="Auxiliary pioneer" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsSpecialPioneer" binary="true" label="Special pioneer" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsGroupServiceOverseer" binary="true" label="Group service overseer" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
        <div class="ui-grid-col-2">
            <p-checkbox [(ngModel)]="_PrivilageModel.IsGroupServiceDeputyOverseer" binary="true" label="Group service deputy overseer" (onChange)="onChange_RefreshAfterFiltering()"></p-checkbox>
        </div>
    </div>
</p-panel>