<p-panel *ngIf="Publisher" header="Publisher detail">

    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <label for="idName">Name</label>
        </div>
        <div class="ui-grid-col-2">
            <input id="idName" name="idName" type="text" pInputText [(ngModel)]="Publisher.Name" />
        </div>
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <label for="idSurname">Surname</label>
        </div>
        <div class="ui-grid-col-2">
            <input id="idSurname" name="idSurname" type="text" pInputText [(ngModel)]="Publisher.Surname" />
        </div>
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <label for="idDateOfBirth">Date of birth</label>
        </div>
        <div class="ui-grid-col-2">
            <p-calendar id="idDateOfBirth" name="idDateOfBirth" [(ngModel)]="Publisher.DateOfBirth" dateFormat="yy-mm-dd"></p-calendar>
        </div>
    </div>

    <div class="ui-grid-row">
        <div class="ui-grid-col-2">
            <label for="idDateOfBaptism">Date of baptism</label>
        </div>
        <div class="ui-grid-col-2">
            <p-calendar id="idDateOfBaptism" name="idDateOfBaptism" [(ngModel)]="Publisher.DateOfBaptism" dateFormat="yy-mm-dd"></p-calendar>
        </div>
    </div>


    <panel-confirmation (back)="doBack()" (cancel)="doCancel()" (save)="doSave()"></panel-confirmation>
</p-panel>